# Ignore Python virtual environments
venv/
*.env
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints (auto-save files)
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db